.body {  
    font-family: 'Inter', sans-serif;
    font-style: normal;
    min-height: 100vh;
}
/*header styles start*/
.header{
    background: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-areas: "logo header-img header-nav ";
}
.logotip{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color:#000000;
    grid-area: logo;
}
.header__img{
    grid-area: header-img;
}
.header__nav{
    grid-area: header-nav;
}


.header__link{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
    
}
.header__link:hover{
    text-decoration: underline;
    
}
.buttons{
    background: #106D35;
    border-radius: 8px;
    border: none;
    
}
/*header styles ends*/
.main{
    background: wheat;
    grid-area: main;
}
.footer{
    background: white;
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    width: auto;
    height: auto;
    grid-template-areas: "header header header header"
    " main main main"
    "footer footer footer footer";
}
